aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
httpx==0.25.2
psutil
py-tgcalls==0.9.7
pykeyboard
python-dotenv
pyyaml
requests
spotipy
speedtest-cli
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
